<a href="https://colab.research.google.com/github/sy-veronica/What_i_learned/blob/main/Section_5_%EC%A0%9C%EC%96%B4%EB%AC%B8_%EC%8B%AC%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5-1. 반복문 for (심화)

>### (1) Unpacking
- 데이터 구조 속의 값들을 여러 개의 변수로 나누기
- 변수 할당 제외하기 : `_`
- 남은 값들을 하나의 변수에 할당하기 : `*`변수
- for문 & dictionary unpacking
```python
dict_name = {}
for k, v in dict_name.items():
    print(v)
```

In [ ]:
# (1-1) Unpacking : 변수 할당 제외하기 '_'

pokemon = ['피카츄', '라이츄', '파이리', '꼬부기']
a, b, c, _ = pokemon

print(_)

In [ ]:
# (1-2) Unpacking : 남은 요소를 하나의 변수에 할당하기 '* 변수'

pokemon = ['피카츄', '라이츄', '파이리', '꼬부기', '버터플', '야도란', '피존투', '또가스']
a, b, *c = pokemon

print(c)

In [ ]:
# (1-3) for문 & dictionary unpacking

fruit_color = {'사과':'red', '바나나':'yellow', '포도':'purple'}

# for item in fruit_color.items() :
#     fruit, color = item
#     print(color)

for fruit, color in fruit_color.items():
    print(color)

>### (2) enumerate()
- (인덱스, 값)을 반환

In [ ]:
# (2-1) enumerate()

pokemon = ['피카츄', '라이츄', '파이리', '꼬부기']

list(enumerate(pokemon))

[(0, '피카츄'), (1, '라이츄'), (2, '파이리'), (3, '꼬부기')]

In [ ]:
# (2-2) for문 & enumerate()

# 일반적인 for문을 사용하여 (인덱스, 값)쌍을 반환하기
cnt=0
for i in pokemon : 
    print(cnt, i)
    cnt += 1

# for문과 enumerate()를 사용하여 (인덱스, 값)쌍을 반환하기
for i in enumerate(pokemon) :
    print(i)

# for문과 enumerate()를 사용하여 unpacking
for i, p in enumerate(pokemon) :
    print(p)

0 피카츄
1 라이츄
2 파이리
3 꼬부기
(0, '피카츄')
(1, '라이츄')
(2, '파이리')
(3, '꼬부기')
피카츄
라이츄
파이리
꼬부기

>### (3) zip()

In [ ]:
# (3-1) zip()을 이용하여 두 리스트를 하나의 페어로 생성
pokemon = ['피카츄', '라이츄', '파이리', '꼬부기']
hp= [400, 300, 200, 100]

list(zip(pokemon, hp))

[('피카츄', 400), ('라이츄', 300), ('파이리', 200), ('꼬부기', 100)]

In [ ]:
# (3-2) for문 & zip()을 이용하여 언패킹
for index in range(len(pokemon)) : 
    print(hp[index])

400
300
200
100

In [ ]:
# (3-3) for문 & zip()을 이용하여 딕셔너리 생성
pokemon_hp = {}                                    # 빈 딕셔너리 생성
pokemon = ['피카츄', '라이츄', '파이리', '꼬부기']   # key값 리스트 생성
hp= [400, 300, 200, 100]                           # value값 리스트 생성

for k,v in zip(pokemon, hp) :                      # for문 활용하여 딕셔너리 값 추가
    pokemon_hp[k] = v

pokemon_hp, type(pokemon_hp)

({'피카츄': 400, '라이츄': 300, '파이리': 200, '꼬부기': 100}, dict)

# 5-2. Comprehension (심화)

>### (1) List Comprehension
```python
sample = [1, 2, 3, 4, 5]
(1) double = []
    for i in sample:
        double.append(i*2)
(2) double = [i*2  for i in sample]
    double
```

In [ ]:
# (1-1) List Comprehension
sample = [1, 2, 3, 4, 5]

# List Comprehension
add_1 = [i+1  for i in sample]

# for문 활용
add_1 = []
for i in sample :
    add_1.append(i+1)
add_1

[2, 3, 4, 5, 6]

In [ ]:
# (1-2) List Comprehension
x = [1, 2, 3, 4]
y = [10, 10, 20, 30]

# List Comprehension
add_xy = [a+b  for a,b in zip(x,y)]
add_xy

# for문 활용
add_xy = []
for a,b in zip(x,y) :
    add_xy.append(a+b)
add_xy

[11, 12, 23, 34]

In [ ]:
# (1-3) List Comprehension
pokemon_1 = ['피카츄', '라이츄']
pokemon_2 = ['파이리', '리자드']
pokemon_3 = [pokemon_1, pokemon_2]

# List Comprehension
pokemon = [i  for group in pokemon_3 for i in group]
pokemon

# for문 활용
pokemon = []
for group in pokemon_3 :
    for i in group :
        pokemon.append(i)
pokemon

['피카츄', '라이츄', '파이리', '리자드']

In [ ]:
# (1-4) List Comprehension
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# List Comprehension
even_numbers = [i  for i in numbers if i % 2 == 0]

# for문 활용
even_numbers = []
for i in numbers :
    if i % 2 == 0 :
      even_numbers.append(i)
even_numbers

[2, 4, 6, 8, 10]

>### (2) Dictionary Comprehension
```python
pokemon = ['피카츄', '라이츄', '파이리']
hp = [100, 200, 150]
(1) pokemon_hp = {}
    for k,v in zip(pokemon, hp):
        pokemon_hp[k]=v
(2) pokemon_hp = {k:v  for k,v in zip(pokemon, hp)}
    pokemon_hp
```

In [ ]:
pokemon = ['피카츄', '라이츄', '파이리']
hp = [100, 200, 150]
pokemon_hp = {}
for k,v in zip(pokemon, hp):
    pokemon_hp[k]=v
pokemon_hp
pokemon_hp = {k:v  for k,v in zip(pokemon, hp)}
pokemon_hp

{'피카츄': 100, '라이츄': 200, '파이리': 150}

In [ ]:
pokemon = ['피카츄', '라이츄', '파이리']
hp = [100, 200, 150]
pokemon_hp = {}
for k,v in zip(pokemon, hp):
    pokemon_hp[v]=k
pokemon_hp
pokemon_hp = {v:k  for k,v in zip(pokemon, hp)}
pokemon_hp

{100: '피카츄', 200: '라이츄', 150: '파이리'}

# 5-3. 예외처리 Try, Except (심화)

>### (1) Try & Except
```python
try:
    <실행문>
    <에러가 없을 때 반환할 내용>
except:
    <에러가 있을 때 반환할 내용>
```

In [2]:
# (1-1) try & except (개념)
try:
    print('실행을 시도합니다.')          
    x = 1/0                            # 실행문
    print('실행에 성공했습니다.')        # 에러가 없을 때 반환할 내용
except:
    print('에러가 발생한 실행입니다.')   # 에러가 있을 때 반환할 내용

실행을 시도합니다.
에러가 발생한 실행입니다.

In [4]:
# (1-2) try & except (특정 에러 예외 처리하기)
try:
    print('실행을 시도합니다.')          
    x = 1/0                            # 실행문
    print('실행에 성공했습니다.')        # 에러가 없을 때 반환할 내용
except ZeroDivisionError:              # 특정 에러(ZeroDivisionError)를 명시
    x = 1E100                          # 특정 에러(ZeroDivisionError)에 반환할 내용
    print(x)                           # 기타 에러가 있을 때 반환할 내용

실행을 시도합니다.
1e+100

In [5]:
# (1-3) 에러 메세지 참조하기
try:
    x = 1/0                           # 실행문
except Exception as err:              # 모든 에러(Exception)을 err라는 변수로 지정
    print(type(err), err)             # 발생한 에러의 타입과 발생 이유를 반환

<class 'ZeroDivisionError'> division by zero

>### (2) try & except 연습문제

* Step 1. `sample = [1, 2, 3, 0, 5, '2']` 리스트에 있는 각각의 원소들로 2를 나누었을 때 결과를 `div_result` 리스트에 저장하세요. 나누기 연산을 할 수 없는 경우에는, None을 대신 저장하세요.

* Step 2. 나누기 연산이 실패할 때 어떤 원소에서 실패했는지, 실패한 원소의 인덱스 값은 무엇이었는지, 그리고 실패한 원인이 무엇인지 출력해주세요.

In [11]:
# STEP 1
sample = [1, 2, 3, 0, 5, '2']
div_result = []

for i in sample:
    try:
        div_result.append(2/i)
    except:
        div_result.append('None')
div_result

[2.0, 1.0, 0.6666666666666666, 'None', 0.4, 'None']

In [14]:
# STEP 2
sample = [1, 2, 3, 0, 5, '2']
div_result = []

for idx, i in enumerate(sample):
    try:
        div_result.append(2/i)
    except Exception as err:
        print(f'index:{idx}  value:{i}  fail:{type(err)}, {err}')

index:3  value:0  fail:<class 'ZeroDivisionError'>, division by zero
index:5  value:2  fail:<class 'TypeError'>, unsupported operand type(s) for /: 'int' and 'str'

# 5-4. 에러 작성하기 Raise (심화)
```python
x = int(input('5 이상의 정수를 입력하세요.'))

if x < 5:
    raise ValueError('지금 입력한 숫자는 5 미만입니다.')
```

In [ ]:
x = int(input('5 이상의 정수를 입력하세요.'))

if x < 5:
    raise ValueError('지금 입력한 숫자는 5 미만입니다.')